@import "~bootstrap/dist/css/bootstrap.min.css";

* {
  margin: 0;
  paddin: 0;
}

body {
  background-color: green;
}
.card {
  font-weight: bold;
  font-size: 5rem;
  margin-top: 1rem;
  width: 270px;
  height: 400px;
  background-color: white;
}

.figura {
  margin: 0 1rem;
}

#temporizador {
  font: 2rem;
  color: white;
  width: 3rem;
  margin-top: 1rem;
  border-bottom: 2px solid black;
}

.figura:last-child {
  transform: rotate(180deg);
}
